
@import "/src/styles/global/variables";
@import "/src/styles/global/extends";
@import "/src/styles/global/mixins";

.navlink > a {
    font-size: 22px;
    color: $secondary-color;
    font-weight: bold;

    :hover {
        border-bottom: 2px solid $secondary-color;
    }
}