@import "./global/extends";
@import "./global/variables";
@import "./components/button";
@import "./components/input";
@import "./components/header";
@import "./components/navLinks";
@import "./components/cards";
@import "./components/home";
@import "./components/modal";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

